*.iml
.gradle
/local.properties
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj

/.idea

# Include dictionary files to git
!/.idea/dictionaries
/.idea/dictionaries/*
!/.idea/dictionaries/numeron_dic.xml
